body{
    margin: 0;
    padding: 0;
    height: 100vh;
   
}
#slides{
    width: 100%;
    margin: 0;

}
.carousel-inner img{
    width: 100%;
    height: auto;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}